# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    allow:
      - dependency-type: "all"
    schedule:
      interval: weekly
      day: thursday
      time: "03:00"
      timezone: Europe/London
    groups:
      rubocop:
        patterns:
          - "rubocop*"
      components:
        patterns:
          - "govuk-components"
          - "view_component"
      bundler:
        patterns:
          - "*"
        exclude-patterns:
          - "rubocop*"
          - "govuk-components"
          - "view_component"
    open-pull-requests-limit: 10
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: "03:15"
      timezone: Europe/London
    groups:
      npm:
        patterns:
          - "*"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
