# ---------------------
# Azure AD credentials
# ---------------------

# get "laa-assure-hmrc-data [local]" from Azure AD
OMNIAUTH_AZURE_CLIENT_ID='TestAzureClientID'
OMNIAUTH_AZURE_TENANT_ID='TestAzureTenantID'

# create "laa-assure-hmrc-data [your-name]" in Azure AD
OMNIAUTH_AZURE_CLIENT_SECRET='TestAzureClientSecret'

