# Ignore master key for decrypting credentials and more.
config/master.key

*.log
.DS_Store
.bundle

env/
.env.*
.env
!.env.sample

.envrc
.idea
.vscode

db/*.sqlite3
node_modules
public/assets

app/assets/builds/*
!app/assets/builds/.keep

log/*
!log/.keep

tmp/*
!tmp/.keep

tmp/pids/*
!tmp/pids/
!tmp/pids/.keep

# Ignore simplecov coverage stats
coverage/

# Ignore uploaded files in development
/storage/*

.byebug_history

*.code-workspace
*.sha256

# Ignore Redis binary dump (dump.rdb) files
*.rdb
