# Simplify running the application inside a container locally.
# WARNING: do not use docker-compose in production environments.
#
# Usage:
#
# ```shell
# docker compose build
# docker compose up
# open http://0.0.0.0:3000/ OR http://localhost:3000/ in your browser
# ```
#

services:
  database:
    container_name: laa-assure-hmrc-data-database
    image: postgres:18.1
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - laa-assure-hmrc-data-db:/var/lib/postgresql
  clamav:
    image: clamav/clamav-debian:stable
    ports:
    - "3310:3310"

  web:
    container_name: laa-assure-hmrc-data-web
    build:
      context: .
      dockerfile: Dockerfile
    command: ./docker-entrypoint
    environment:
      RAILS_ENV: development
      RACK_ENV: development
      SECRET_KEY_BASE: just-for-local-docker-compose
      RAILS_SERVE_STATIC_FILES: only-presence-required
      DATABASE_URL: postgresql://postgres@database/laa-assure-hmrc-data
      MOCK_AZURE: true
      MOCK_AZURE_USERNAME: john.doe@example.com
      MOCK_AZURE_PASSWORD: password

    depends_on:
      - database
      - clamav
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

volumes:
  laa-assure-hmrc-data-db:
    name: laa-assure-hmrc-data-db
