<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl"><%= t(".page_heading") %></h1>

    <%= govuk_button_link_to(t(".new_submission"), new_bulk_submission_form_path) %>

    <%= govuk_table do |table|
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: t(".created_at"), header: true)
          row.with_cell(text: t(".expires_at"), header: true)
          row.with_cell(text: t(".filename"), header: true)
          row.with_cell(text: t(".status"), header: true)
          row.with_cell(text: t(".action"), header: true, colspan: 2, scope: 'colgroup')
        end
      end

      table.with_body do |body|
        @bulk_submissions.each do |bulk_submission|
          filename = bulk_submission&.original_file&.filename

          body.with_row do |row|
            row.with_cell(text: bulk_submission.created_at&.to_fs(:date_only))
            row.with_cell(text: bulk_submission.expires_at&.to_fs(:date_only))
            row.with_cell(text: govuk_link_to(filename,
                                              bulk_submission_path(bulk_submission.id, context: :view),
                                              method: :get,
                                              text_colour: true))
            row.with_cell(text: govuk_status_tag(bulk_submission.status))

            row.with_cell do
              if bulk_submission.pending?
                govuk_link_to(t(".cancel_html", filename:),
                              bulk_submission_path(bulk_submission.id, context: :cancel),
                              method: :get)
              elsif bulk_submission.ready?
                govuk_link_to(t(".download_html",filename:),
                              rails_blob_path(bulk_submission.result_file.blob, disposition: 'attachment'))
              end
            end

            row.with_cell do
              if bulk_submission.ready?
                govuk_link_to(t(".remove_html", filename:),
                                bulk_submission_path(bulk_submission.id, context: :remove),
                                method: :get)
              end
            end
          end
        end
      end
    end %>

    <% if Rails.env.development? || Rails.host.uat? %>
      <%= govuk_button_link_to(t(".process_all"), process_all_bulk_submissions_path, warning: true) %>
    <% end %>
  </div>
</div>
