<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @user.full_name %></h1>

    <%= govuk_summary_list(
      rows: [
        { key: { text: t(".first_name") }, value: { text: @user.first_name } },
        { key: { text: t(".last_name") }, value: { text: @user.last_name } },
        { key: { text: t(".email") }, value: { text: @user.email } },
      ]
    ) %>
  </div>
</div>
