<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= current_user.full_name %></h1>

    <%= govuk_summary_list(
      rows: [
        { key: { text: t(".first_name") }, value: { text: current_user.first_name } },
        { key: { text: t(".last_name") }, value: { text: current_user.last_name } },
        { key: { text: t(".email") }, value: { text: current_user.email } },
      ]
    ) %>
  </div>
</div>
