<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Submissions</h1>

    <p class="govuk-body">
      This page should show a list of existing submissions...
    </p>

    <%= govuk_link_to "New submission", '#' %>
  </div>
</div>
