<%= content_for :page_title, t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.too_many_requests') %></h1>

    <p class="govuk-body"><%= t('.try_again_later') %></p>

    <p class="govuk-body"><%= t('.error_continues_html', service: t('service.name'), email: t('service.email')) %></p>
  </div>
</div>
